@charset "UTF-8";
@font-face { font-family: 'S-CoreDream'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff"); font-style: normal; font-weight: 100; }
@font-face { font-family: 'S-CoreDream'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff"); font-style: normal; font-weight: 200; }
@font-face { font-family: 'S-CoreDream'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff"); font-style: normal; font-weight: 300; }
@font-face { font-family: 'S-CoreDream'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff"); font-style: normal; font-weight: 400; }
@font-face { font-family: 'S-CoreDream'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff"); font-style: normal; font-weight: 500; }
@font-face { font-family: 'S-CoreDream'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff"); font-style: normal; font-weight: 600; }
@font-face { font-family: 'S-CoreDream'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff"); font-style: normal; font-weight: 700; }
@font-face { font-family: 'S-CoreDream'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff") format("woff"); font-style: normal; font-weight: 800; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, input, select, textarea, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { padding: 0; margin: 0; vertical-align: middle; box-sizing: border-box; }

header, footer, section, article, menu, nav, aside { display: block; }

html { font-size: 20px; /*line-height: 1.567em;*/ -webkit-overflow-scrolling: touch; }

html, body { width: 100%; -webkit-text-size-adjust: none; overflow: auto; font-family: 'S-CoreDream', HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif; }

body { overflow-x: hidden; position: relative; min-width: 320px; -webkit-text-size-adjust: none; justify-content: center; align-items: flex-start; word-break: keep-all; }

ul, ol { list-style-type: none; }

table { border-collapse: collapse; border-spacing: 0; }

img, fieldset { border: 0; outline: none; }

label { cursor: pointer; }

a { text-decoration: none; outline: none !important; }

i, em, address { font-style: normal; }

button { padding: 0; border: none; background: none; font-size: inherit; line-height: 1.567em; letter-spacing: -.035em; cursor: pointer; }

caption, legend { visibility: hidden; width: 0; height: 0; font-size: 0; line-height: 0; }

iframe, object, video, embed { position: relative; top: 0; left: 0; max-width: 100%; }

.blind, .hidden { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; }

input:focus, select:focus { border-color: #f2880a !important; }

select::-ms-expand { display: none; }

input::-ms-clear { display: none; }

body { min-width: 320px; height: 100%; color: #fff; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) { html { font-size: 16px; } }
@media only screen and (min-device-width: 340px) and (max-device-width: 568px) { html { font-size: 17px; } }
@media screen and (min-width: 640px) { html { font-size: 28px; } }
@media screen and (min-width: 1024px) { html { font-size: 32px; } }
/* Header */
.section { position: relative; z-index: 10; text-align: center; display: block !important; padding-top: 4.8125rem; }
.section h3 { padding-bottom: 0.65625rem; color: #323232; font-size: 1.5rem; font-weight: 600; line-height: 2.0625rem; }
.section h3 span { vertical-align: top; }
.section h3 strong { color: #ff1f5a; vertical-align: top; }
.section p { position: relative; z-index: 1; color: #666666; font-size: 0.75rem; font-weight: 400; line-height: 1.1875rem; letter-spacing: 0; }
.section p span { display: block; transition-delay: 1s; -webkit-transition: color 1000ms linear; -ms-transition: color 1000ms linear; transition: color 1000ms linear; }
.section p strong { color: #ff1f5a; vertical-align: top; font-weight: 400; }
.section p strong.weight--bold { color: #00bbf0; vertical-align: top; font-weight: 700; }

.frame { position: relative; overflow: hidden; }

.section.gray { background-color: #f7f5f7; }
.section.gray p { font-width: 300; }
.section.gray p strong { font-width: 400; }
.section.gray p em { font-size: 0.625rem; color: #0096ff; display: inline-block; padding-top: 0.40625rem; }

.area1_bg { position: relative; min-height: 48.125rem; background: url("../image/scean_01_pattern.png") center 0 no-repeat; background-size: 22.5rem 37.3125rem; padding-top: 0; overflow: hidden; }

.area1_bg:before { content: ''; display: block; width: 126.5625rem; height: 16.25rem; background: #fff; position: absolute; top: 38.75rem; left: 50%; margin-left: -56.25rem; transform: rotate(-10deg); z-index: 2; }

.area1_bg:after { content: ''; display: block; width: 126.5625rem; height: 28.125rem; background: #111; position: absolute; top: -37.8125rem; left: 50%; margin-left: -56.25rem; transform: rotate(-31.6deg); z-index: 0; }

.area1_bg .area1 { margin: 0 auto; position: relative; padding-top: 5.9375rem; }

#container { background: #111; }

#container:before { content: ''; display: block; width: 126.5625rem; height: 13.3125rem; background: #ff1e5b; position: absolute; top: 23.65625rem; left: 50%; margin-left: -56.25rem; transform: rotate(9.6deg); }

.area1_bg .area1 h1 { font-size: 2.0625rem; color: white; line-height: 2.5625rem; text-align: center; font-weight: 200; height: 8.875rem; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); }

.area1_bg .area1 h1 strong { display: block; margin: 0 auto; width: 22.5rem; height: 8.875rem; background: url("../image/scean_01_title.png") 0 0 no-repeat; background-size: 22.5rem 8.875rem; font-size: 0; position: absolute; left: 50%; margin-left: -11.25rem; }

.area1_bg .area1 p { display: block; margin: 0 auto; width: 100%; height: 3.125rem; font-size: 0; }

.area1_bg .area1 p span { height: 3.125rem; background: url("../image/scean_01_title_sub.png") 0 0 no-repeat; background-size: 22.5rem 3.125rem; position: absolute; left: 50%; width: 22.5rem; margin-left: -11.25rem; }

.area1_bg .area1:before { content: ''; display: block; width: 126.5625rem; height: 1.5625rem; background: url("../image/scean_01_ribbon.png") 0 0 repeat-x; background-size: 5.875rem 1.5625rem; position: absolute; top: 37.6875rem; left: 50%; margin-left: -56.25rem; transform: rotate(-10deg); z-index: 2; }

.area1_bg .area1:after { content: ''; display: block; width: 126.5625rem; height: 1.5625rem; background: url("../image/scean_01_ribbon.png") 0 0 repeat-x; background-size: 5.875rem 1.5625rem; position: absolute; top: -8.0625rem; left: 50%; margin-left: -56.25rem; transform: rotate(-31.6deg); z-index: 2; }

.area2_bg { overflow: visible; padding-top: 0; background: #fff; }

.area3_bg { height: 48.125rem; padding-top: 5.40625rem; position: relative; background: #fff; }

.area3_bg:before { content: ''; display: block; width: 126.5625rem; height: 44.75rem; background: #f7f5f7; position: absolute; top: 3.71875rem; left: 50%; margin-left: -56.25rem; transform: rotate(9.6deg); }

.area3_bg .area3 { padding-top: 48px; }

.area3_bg .area3:before { content: ''; display: block; width: 4.625rem; height: 5.3125rem; background: url("../image/scean_03_sticker_01.png") center 0 no-repeat; position: absolute; top: 0rem; left: 50%; margin-left: -10.0625rem; background-size: 4.625rem 5.3125rem; }

.area3_bg .area3:after { content: ''; display: block; width: 5.25rem; height: 4.40625rem; background: url("../image/scean_03_sticker_02.png") center 0 no-repeat; position: absolute; top: 47.40625rem; left: 50%; margin-left: 4.21875rem; background-size: 5.25rem 4.40625rem; }

.area4_bg { z-index: 0; background-color: #fff; padding-top: 5.4375rem; }
.area4_bg .area4 { margin: 0 auto; position: relative; }

.area5_bg { background: #f7f5f7; }

.area6_bg { height: 44.3125rem; }

#area1 #animation01 { height: 22.75rem; overflow: visible; }

#area1 #animation01 .page1, #area1 #animation01 .page2 { width: 16.875rem; height: 17.5rem; background-position: 0 0; background-repeat: no-repeat; background-size: 16.875rem 17.5rem; position: absolute; top: 0; left: 50%; z-index: 1; opacity: 0; }

#area1 #animation01 .page1 { background-image: url("../image/scean_01_phone_01.png"); margin: 14.46875rem 0 0 0; }

#area1 #animation01 .page2 { background-image: url("../image/scean_01_phone_02.png"); margin: 14.46875rem 0 0 10.6875rem; }

#area1 #animation01 .sticker1 { width: 2.375rem; height: 1.875rem; background: url("../image/scean_01_sticker_01.png") 0 0 no-repeat; background-size: 2.375rem 1.875rem; position: absolute; top: 0; left: 50%; z-index: 1; margin: -10.3125rem 0 0 -1.34375rem; opacity: 0; }

#area1 #animation01 .sticker2 { width: 2.4375rem; height: 2.125rem; background: url("../image/scean_01_sticker_02.png") 0 0 no-repeat; background-size: 2.4375rem 2.125rem; position: absolute; top: 0; left: 50%; z-index: 1; margin: -6.25rem 0 0 -0.375rem; opacity: 0; }

.section.area2_bg h3, .section.area2_bg p { position: relative; top: -3.375rem; }

/* 플레이어 */
#animation02.frame { margin: -1.78125rem auto 0 auto; height: 29.9375rem; }

#animation02.frame .text { position: absolute; top: -100px; left: 70px; z-index: 10; opacity: 1; width: 620px; }

#animation02.frame .phone { background: url("../image/scean_02_phone.png") 0 0 no-repeat; background-size: 16.875rem 29.6875rem; width: 16.875rem; height: 29.6875rem; margin: 0 auto; position: absolute; top: 0; left: 50%; z-index: 1; display: block; transform: translateX(-50%) !important; z-index: 10; }

#animation02.frame .panner { width: 11.6875rem; height: 25.375rem; position: absolute; top: 1.15625rem; left: 50%; margin-left: -5.90625rem; z-index: 0; opacity: 0; overflow: hidden; }

#animation02.frame .panner .view1 { width: 11.6875rem; height: 48.25rem; position: absolute; top: 0rem; background: url("../image/scean_02_view1_cover.png") 0 0 no-repeat; background-size: 11.6875rem 48.25rem; }

#animation02.frame .wrap_player { width: 10.625rem; height: 6rem; position: absolute; top: 15.375rem; left: 50%; margin-left: -5.34375rem; background: #000; z-index: 0; overflow: hidden; border-radius: 0.28125rem; background: url("../image/scean_02_video_poster.jpg") 0 0 no-repeat; background-size: 100% 100%; }

#animation02.frame .hand { position: absolute; top: 1.65rem; left: 50%; opacity: 0; background: url("../image/hand.png") 0 0 no-repeat; background-size: 3.125rem 3.125rem; width: 3.125rem; height: 3.125rem; z-index: 10; margin-left: 2.25rem; }

#animation03.frame { margin: 1.75rem auto 0 auto; height: 29.375rem; }

#animation03.frame .phone { width: 16.875rem; height: 29.6875rem; background: url("../image/scean_02_phone.png") 0 0 no-repeat; background-size: 16.875rem 29.6875rem; margin: 0 auto; position: absolute; top: 0; left: 50%; z-index: 1; display: block; transform: translateX(-50%) !important; z-index: 10; }

#animation03.frame .panner { width: 11.6875rem; height: 25.25rem; position: absolute; top: 1.28125rem; left: 50%; margin-left: -5.96875rem; z-index: 0; opacity: 1; overflow: hidden; }

#animation03.frame .panner .controls { width: 100%; height: 100%; margin: 0 0 0 0.03125rem; position: absolute; top: 0; left: 50%; z-index: 50; background: #fff url("../image/scean_03_view1_cover.png") center 0 no-repeat; background-size: contain; display: block; transform: translateX(-50%) !important; }

#animation03.frame .panner .controls2 { background-position: 0 0; background-repeat: no-repeat; background-size: 11.6875rem 11.75rem; margin: 0; position: absolute; top: 100%; left: 50%; z-index: 50; background-image: url("../image/scean_03_view2_control.png"); transform: translateX(-50%) !important; width: 11.6875rem; height: 11.75rem; }

#animation03.frame .wrap_player { width: 11.84375rem; height: 25.375rem; position: absolute; top: -0.09375rem; left: -0.0625rem; background: #000; z-index: 0; overflow: hidden; }

#animation03.frame .hand { position: absolute; top: 12.1875rem; left: 50%; opacity: 0; background: url("../image/hand.png") 0 0 no-repeat; background-size: 3.75rem 3.75rem; width: 3.75rem; height: 3.75rem; z-index: 50; margin-left: -3.125rem; }

#animation04.frame { margin: 2.21875rem auto 0 auto; height: 28.75rem; }

#animation04.frame .phone { margin: 0 auto; position: absolute; top: 0; left: 50%; display: block; z-index: 0; margin-left: -11.25rem; opacity: 1; background: url("../image/scean_04_phone.png") 0 0 no-repeat; background-size: 22.5rem 28.75rem; width: 22.5rem; height: 28.75rem; }

#animation04.frame .wrap_slider { width: 1.53125rem; height: 0.625rem; border-radius: 0.78125rem; position: absolute; top: 19.625rem; left: 50%; transform: translateX(-50%) !important; z-index: 10; margin-left: 6.34375rem; }
#animation04.frame .wrap_slider .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #cccccc; transition: .4s; border-radius: 0.53125rem; box-shadow: inset 0 0 0.1875rem rgba(0, 0, 0, 0.1); }
#animation04.frame .wrap_slider .slider:before { position: absolute; content: ""; height: 0.90625rem; width: 0.90625rem; left: -0.03125rem; bottom: -0.125rem; background-color: #f0f0f0; transition: .4s; border-radius: 50%; box-shadow: 0 0.10625rem 0.21875rem rgba(0, 0, 0, 0.3), inset 0 0 0.03125rem white; }
#animation04.frame .wrap_slider.on .slider { background-color: #ff8fac; box-shadow: inset 0 0 0.1875rem rgba(255, 30, 89, 0.3); }
#animation04.frame .wrap_slider.on .slider:before { transform: translateX(0.71875rem); background-color: #ff1f5a; box-shadow: 0 0.10625rem 0.21875rem rgba(0, 0, 0, 0.3), inset 0 0 0.03125rem white; }

#animation04.frame .hand { position: absolute; top: 21.875rem; left: 50%; opacity: 0; background: url("../image/hand.png") 0 0 no-repeat; background-size: 3.75rem 3.75rem; width: 3.75rem; height: 3.75rem; z-index: 50; margin-left: -0.625rem; }

/** Animations */
[data-scroll] { transition-delay: 0.3s !important; }

.fromTopIn { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0, 0); opacity: 1.0; }

.fromTopOut { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0, -1rem); opacity: 0.0; }

.fromBottomIn { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0, 0); opacity: 1.0; }

.fromBottomOut { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0, 1rem); opacity: 0.0; }

.fromLeftIn { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0, 0); opacity: 1.0; }

.fromLeftOut { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(-1rem, 0); opacity: 0.0; }

.fromRightIn { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0, 0); opacity: 1.0; }

.fromRightOut { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(10px, 0); opacity: 0.0; }

.scaleUpIn { transition: transform 1.0s ease, opacity 1.0s ease; transform: scale(1, 1); opacity: 1.0; }

.scaleUpOut { transition: transform 1.0s ease, opacity 1.0s ease; transform: scale(1.3, 1.3); opacity: 0.0; }

.scaleDownIn { transition: transform 1.0s ease, opacity 1.0s ease; transform: scale(1, 1); opacity: 1.0; }

.scaleDownOut { transition: transform 1.0s ease, opacity 1.0s ease; transform: scale(0.7, 0.7); opacity: 0.0; }

/*# sourceMappingURL=style.css.map */
